<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FolderTrackGuiTest1.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FolderTrackGuiTest1.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FolderTrackGuiTest1.Settings>
            <setting name="tempDir" serializeAs="String">
                <value>\tempDir</value>
            </setting>
            <setting name="debugDir" serializeAs="String">
                <value>\debug</value>
            </setting>
        </FolderTrackGuiTest1.Settings>
    </applicationSettings>
    <userSettings>
        <FolderTrackGuiTest1.Settings>
            <setting name="test" serializeAs="String">
                <value>test</value>
            </setting>
        </FolderTrackGuiTest1.Settings>
    </userSettings>
</configuration>